@media all and (max-width: 600px) and (min-width: 140px)
{
	.containersheader
	{
		display: flex;
		flex-direction: column;
		margin:0px;
	}
	.logoheader
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.logo
	{
		margin-left: 20px;
		height: 50px;
	}
	.headerlinkins--mobile
	{
		display: flex;
		margin-top: 15px;
		flex-direction: row;
		margin-right: 20px;
		color: #0065FC;
		font-weight: bold;
		font-size: 1.1em;
	}
	.containersheader nav
	{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		margin-top: 30px;
		margin-bottom: 30px;
		width: 100%;
		border-bottom: 4px solid #f2f2f2;
	}
	
	.headerlinkheb:hover, .headerlinkact:hover, .headerlinkins:hover
	{
		border-top: none;
	}
	.headerlinkheb:hover
	{
		border-bottom: 4px solid #0065FC;
	}
	.headerlinkact:hover
	{
		border-bottom: 4px solid #0065FC;
	}
	.headerlinkins
	{
		display: none;
	}
	.searchlocations
	{
		margin-right: -40px;
	}
	.firstbtnsearch
	{
		max-width: 30px;
		border-radius: 15px 15px;
		margin-right: 40px;
	}
	.search
	{
		display: none;
	}
	.firstbtnsearch .fas
	{
		color: white;
		visibility: visible;
	}
	.titlesearch
	{
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		font-size: 1.5em;
	}
	.subtitle
	{
		line-height: 3em;
		font-size: 0.7em;
	}
	.titlefilters
	{
		display: flex;
		justify-content: center;
    	margin-top: 15px;
	}
	.filtersbuttonicon
	{
		display: flex;
		align-items: flex-start;
		align-content: space-around;
		justify-content: flex-start;
    	width: 100%;	
    	height: 250px;
	}
	.filtericon
	{
		display: flex;
		align-content: space-around;
		justify-content: flex-start;
		margin-left: 0px;
	}
	.filtericonwrap
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	.containericoninfo
	{
		display: flex;
		margin-top: 30px;
		font-size: 0.9em;
	}
	.containericoninfo i
	{
		margin-right: 15px;
		width: 40px;
	}
	.textinfowrap
	{
		display: flex;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
	.containerslocations
	{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-content: space-between;
		width: 100%;
		height: auto;
		margin-left: 0px;
	}
	.titlepopular 
	{
		display: flex;
		justify-content: space-between;
		width:90%; 
		
	}
	.mostpopularwrap
	{
		display: flex;
		align-content: space-around;
		justify-content: space-around;
		width: 100%;
		height: 550px;
		margin-right: 0px;
		border-radius: 0px 0px;
	}
	.picture1, .picture2, .picture3
	{
		width: 85%;
	}
	.listhebergmarswrap
	{
		display: flex;
		background-color: initial;
		width: 100%;
		height: auto;
		margin-left: 0px;
	}
	.picturewrapiconlegend
	{
		display: flex;
		justify-content: center;
		width: 85%;
		height: auto;
		margin-left: 25px;
	}
	.picture
	{
		width: 100%;
	}
	.plus
	{
		display: flex;
		width: 100%;
		align-content: space-between;
	}
	.galleryactivitymars
	{
		margin-left: 20px;
		height: auto;	
	}
	.vieuxport
	{
		display: flex;
		width: 100%;
		height: 140px;
	}
	.imgportwrap
	{
		width: 91%;
	}
	.imgparc
	{
		display: none;
	}
	.calanquesimgwrap
	{
		display: flex;
		width: 100%;
		height: 140px;
	}
	.imgparcwrap
	{
		width: 91%;
	}
	.imgall
	{
		height: 140px;
	}
	.imgvieuxport
	{
		display: none;
	}
	.imgportwrap, .imgfort, .imgileswrap, .imgparcwrap,
	.imgNDG, .imglongchamp
	{
		margin-top: 20px;
	}
	footer
	{
		height: auto;
	}
}	