@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@font-family
{
	font-family: 'Raleway-Regular';
    src: url('police/Raleway-Regular-webfont.eot');
    src: url('police/Raleway-Regular-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Raleway-Regular-webfont.woff2') format('woff2'),
         url('police/Raleway-Regular-webfont.woff') format('woff'),
         url('police/Raleway-Regular-webfont.ttf') format('truetype'),
         url('police/Raleway-Regular-webfont.svg#Raleway-Regular') format('svg');
}

body, html, input, button
{
	font-family: Raleway, sans-serif;
}
.logoheader
{
	display: flex;
	align-content: flex-start;
	flex-direction: row;
	width: 60%;
}
.header
{
	display: flex;
	justify-content: space-around;
}
.header nav
{
	display: flex;
	width: 40%;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;	
	align-items: flex-end;
}
.headerlien
{
	text-decoration: none;
	font-weight: bold;
	color: #0065FC;
}
.headerlien:hover
{
	text-decoration: underline;
	text-shadow: 0.1px 0.1px 0.2px #0095FC;
}
.titre
{	
	font-size: 24px;
	font-weight: bold;
}
.soustitre
{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}
.lieu
{
	display: flex;
	flex-wrap: wrap;
	width: 35%;
	justify-content: flex-start;
}
.iconmap
{
	display: flex;
	background-color: #DEEBFF;
	width: 50px;
	height: 45px;
	font-size: 18px;
	align-items: center;
	justify-content: center;
	border: 3px solid #DEEBFF;
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
}
input
{
	display: inline-flex;
	border: 2px solid #DEEBFF;
	height: 45px;
	border-right: none;
	border-left: none;
	font-weight: bold;
	padding-left: 8px;
	width: 150px;
}
.buttonrecherche
{
	border: 3px solid #0065FC;
	height: 51px;
	width: 130px;
	background-color: #0065FC;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.1em;
	margin-bottom: 30px;
}
.buttonrecherche:hover
{
	cursor: pointer;
}
.filtrebuttonicon
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 65%;
}
.filtrebuttonicon i
{
	display: flex;
	justify-content: flex-start;
	background-color: red;
	
}
.buttonfiltreeco
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	width: 150px;
	height: 3.5em;
	font-weight: bold;
	background-color: blue;
	border: 3px solid #DEEBFF;
	
}

.buttonfiltrefam
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 130px;
	height: 3.5em;
	font-weight: bold;
	background-color: white;
	border: 3px solid #DEEBFF;
	border-radius: 25px 25px;
}
.buttonfiltrerom
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 150px;
	height: 3.5em;
	font-weight: bold;
	background-color: white;
	border: 3px solid #DEEBFF;
	border-radius: 25px 25px;
}
.buttonfiltreanim
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 190px;
	height: 3.5em;
	font-weight: bold;
	background-color: white;
	border: 3px solid #DEEBFF;
	border-radius: 25px 25px;
}
span i
{
	border: 3px solid black;
	width: 30px;
}
.image
{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.plus
{
	display: flex;
	align-items: center;
	margin-left: 35px;
	font-weight: bold;
}
.notation
{
	color: #0065FC;
}
.legend
{
	border: 5px solid white;
	background-color: white;
	font-size: 14px;
	border-radius: 15px;
}

footer
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
	text-decoration: none;
}
.footer
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width:70%;
	text-decoration: none;
}
a, ul
{
	text-decoration: none;
	list-style-type: none;
	color: black;
	line-height: 2em;
}
li:hover
{
	text-decoration: underline;
}

.activitemars
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
}
h4
{
	font-size: 16px;
	background-color: white;
	box-shadow: 3px 3px 3px 2px #f2f2f2;
	border: 10px solid white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.imgall
{
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	width: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.galleryactiivitymars
{
	display: flex;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
}