

@font-family
{
	font-family: 'Raleway-Regular';
    src: url('police/Raleway-Regular-webfont.eot');
    src: url('police/Raleway-Regular-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Raleway-Regular-webfont.woff2') format('woff2'),
         url('police/Raleway-Regular-webfont.woff') format('woff'),
         url('police/Raleway-Regular-webfont.ttf') format('truetype'),
         url('police/Raleway-Regular-webfont.svg#Raleway-Regular') format('svg');
}

body
{
	font-family: Raleway, calibri, sans-serif;
}
.header
{
	display: flex;
	justify-content: space-around;
	
}
nav
{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.headerlien
{
	padding-top: 15px;
	padding-right: 80px;
	text-decoration: none;
	font-weight: bold;

}
.titre
{
	font-size: 24px;
}
.soustitre
{
	font-size: 18px;

}
.lieu
{
	display: flex;
	width: 35%;
	justify-content: flex-start;
}
.iconmap
{
	display: flex;
	background-color: #DEEBFF;
	width: 35px;
	height: 37px;
	font-size: 18px;
	align-items: center;
	justify-content: center;
	border: 3px solid #DEEBFF;
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;

}
input
{
	border: 2px solid #DEEBFF;
	height: 37px;
	border-right: none;
	border-left: none;
	font-weight: bold;
	padding-left: 8px;
}
.buttonrecherche
{
	border: 3px solid #0065FC;
	height: 43px;
	width: 100px;
	background-color: #0065FC;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	color: white;
	font-weight: bold;
}
.buttonrecherche:hover
{
	cursor: pointer;
}